h1{
    text-align:center;
}

p{
    text-align:center;
}
h4{
    text-align:center;
}
h5{
    text-align:center;
}

#imgprincipal{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

#btnimg{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
