h1{
    text-align:center;
}

p{
    text-align:center;
}
h4{
    text-align:center;
}
h5{
    text-align:center;
}

#imgprincipal{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

#btnimg{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

/*media querie*/
@media screen and (max-width: 728px){
    header#titulo h1{
        margin-top: 0.2em;
 font-size: 2em;
     }
     div#imgprincipal figure{
         width: 125%;
         margin-top: 0.2em;
     margin-right: auto;
     margin-left: auto;
     
 
     }
     div#btnimg button{
         width: 140%;
         margin-top: 0.2em;
         margin-right: auto;
         margin-left: auto;
     }
 
 }

@media screen and (max-width: 375px){
   header#titulo h1{
       margin-top: 0.2em;
font-size: 2em;
    }
    div#imgprincipal figure{
        width: 95%;
        margin-top: 0.2em;
    margin-right: auto;
    margin-left: auto;
    

    }
    div#btnimg button{
        width: 120%;
        margin-top: 0.2em;
        margin-right: auto;
        margin-left: auto;
    }

}
    
@media screen and (max-width: 320px){
    header#titulo h1{
        margin-top: 0.2em;
 font-size: 2em;
     }
     div#imgprincipal figure{
         width: 125%;
         margin-top: 0.2em;
     margin-right: auto;
     margin-left: auto;
     
 
     }
     div#btnimg button{
         width: 140%;
         margin-top: 0.2em;
         margin-right: auto;
         margin-left: auto;
     }
 
 }